.title {
    text-align: center;
    text-decoration: underline;
}

#recipe-list {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.section-box {
    border-color: black;
    border-style: groove;
    border-width: 10px;
    background-color: lightcoral;
}